<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/style.css"/>
    {% block title %}
      <title>Home</title>
    {% endblock title %}
  </head>
  <body>
    <header>
      <nav class="nav-header">
        <a href="/" class="active">Teachers</a>
        <a href="/students">Students</a>
      </nav>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>